<div class="w-100vw  bg-blue-400 p-4">
    <h1 class="text-4xl font-bold text-white text-center py-5">Currency converter</h1>
    <div class="bg-yellow-400 flex justify-center py-4">
        <div class="max-w-5rem max-h-3rem px-4 py-3 mr-5  bg-white border rounded shadow-lg ">
            <span class="font-bold">{{currencies[25].cc}}: {{currencies[25].rate | number: '2.2-3'}}</span>
        </div>
        <div class="max-w-5rem max-h-3rem px-4 py-3  bg-white border rounded shadow-lg ">
            <span class="font-bold">{{currencies[32].cc}}: {{currencies[32].rate | number: '2.2-3'}}</span>

        </div>
    </div>
</div>